Flask==1.1.4
Jinja2==2.11.3
jsonschema==3.2.0
junit-xml==1.9
kiwisolver==1.1.0
lockfile==0.12.2
lxml==4.9.2
MarkupSafe==1.1.1
matplotlib==2.2.5
mbed-cli==1.10.5
mbed-greentea==1.8.14
mbed-host-tests==1.8.14
mbed-ls==1.8.14
mbed-os-tools==1.8.14
monotonic==1.6
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.7.post1
prettytable==1.0.1
pyelftools==0.29
pyparsing==2.4.7
pyrsistent==0.16.1
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==5.4.1
requests==2.27.1
scandir==1.10.0
six==1.16.0
soupsieve==1.9.6
subprocess32==3.5.4
typing==3.10.0.0
urllib3==1.26.14
wcwidth==0.2.6
Werkzeug==1.0.1
zipp==1.2.0
Gunicorn 
